









{# {%extends 'we/base.html'%} #}
{% block content %}
{% load static %}
{% include "we/navbar.html" %}
{# {{block.super}} #}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<style>
body{
  background-image: url(../static/images/backgrounds/3.jpg);
  background-attachment: fixed;
  background-size:cover;
  color: white;
}
</style>
<body>
<div class="container">

 <div class="row">
   <a href="{% url 'social' %}" class="waves-effect waves-light btn">Add contacts</a>

   {# <a href="{% url 'new_neighbourhood' %}"><button type="button btn-success" name="button">Create New Neighbourhood</button></a> #}

     {% for displayhood in contacts %}
   <div class="col-xs-4 col-sm-4 col-md-4 mt-5">
     <div class="card">
       <div class="card-content">
         <p>Neighbourhood:{{displayhood.detail|upper}}</p>
       </div>
       <div class="card-tabs">
         <ul class="tabs tabs-fixed-width">
           <li class="tab"><a href="#test1">Description:{{displayhood.location}}</a></li>
           <li class="tab"><a href="#test2">Last number of registered occupants as per the census is: {{displayhood.description}}</a></li>

         </ul>
       </div>
       <div class="card-content grey lighten-4">
         <div id="test1"></div>
         <div id="test2"></div>

       </div>
     </div>

   </div>
   {% empty %}

  {% endfor %}
</body>
     </div>
     <footer class="footer">
       <div class="container">
         <div class="row">
           <div class="footer-col col-md-5">
             <p>Copyright © 2018 Collins Muiruri. All Rights Reserved.</p>
             <p> Made with <i class="fa fa-heart pulse"></i> by <a href="http://www.designstub.com/">Yours Truly...</a></p>
           </div>
           <div class="footer-col col-md-7">
             <ul class="footer-share">
               <li><a href="https://github.com/CollinsMuiruri"><i class="fa fa-github"></i></a></li>
               <li><a href="https://github.com/CollinsMuiruri"><i class="fa fa-twitter"></i></a></li>
               <li><a href="https://github.com/CollinsMuiruri"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://github.com/CollinsMuiruri"><i class="fa fa-google-plus"></i></a></li>
             </ul>
           </div>
         </div>
       </div>

       <!-- footer top -->

     </footer>
     <!-- Footer section -->

     <!-- JS files-->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
     <script src="{% static 'js/bootstrap.min.js' %}"></script>
     <script src="{% static 'js/jquery.backstretch.min.js' %}"></script>
     <script src="{% static 'js/jquery.countdown.js' %}"></script>
     <script type="text/javascript" src="{% static 'js/jquery.subscribe.js' %}"></script>
     <script src="{% static 'js/main.js' %}"></script></div>
{% endblock %}
