{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% block content %}

<style>
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
}
.eyes {
  animation: moveEyes 2s forwards infinite;
}

@keyframes moveEyes {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translate(2px, -5px);
  }
  40% {
    transform: translate(3px, -5px);
  }
  60% {
    transform: translate(6px, 0px);
  }
  80% {
    transform: translate(3px, 5px);
  }
  100% {
    transform: none;
  }
}

.loader {
  background-color: #1D1F20;
  padding: 10px;
  border-radius: 50%;

  &__title {
    margin-top: 25px;
    font-family: Helvetica, Arial;
    letter-spacing: 1px;
    color: #1D1F20;
  }
}
</style>
<div class="loader">
  <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64"><path fill="#DDE8E3" d="M2 31.428C2 40.23 5.738 53 17.001 53 28.262 53 32 40.23 32 31.428c0-27.237-30-27.237-30 0zM32 31.428C32 40.23 35.738 53 47.002 53 58.264 53 62 40.23 62 31.428c0-27.237-30-27.237-30 0z"/><path fill="#FFF" d="M2.798 32.088c0 7.561 2.381 19.346 11.968 19.346 9.586 0 11.966-11.785 11.966-19.346.001-26.03-23.934-26.03-23.934 0zM32.799 32.088c0 7.561 2.38 19.346 11.968 19.346 9.586 0 11.967-11.785 11.967-19.346 0-26.03-23.935-26.03-23.935 0z"/><path class="eyes" fill="#493B30" d="M2.798 32.246c0 6.211 4.352 10.965 9.726 10.965 5.372 0 9.724-4.754 9.724-10.965 0-15.276-19.45-15.276-19.45 0zM32.799 32.246c0 6.211 4.353 10.965 9.726 10.965 5.371 0 9.723-4.754 9.723-10.965 0-15.276-19.449-15.276-19.449 0z"/></svg>
</div>
<style>
body {
  background-image: url(../../static/images/backgrounds/2.jpg);
  background-size: cover;
}
.login {
  color: white;
}

</style>
<div class="login">
<div class="container">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h1 class="text-center" style="font-family: 'Pacifico', cursive;"><span style="color:grey;">Neighb</span>ourhood watch</h1>
      {% if form.errors %}
        <p> Password or Username is incorrect </p>
      {% endif %}
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="text-center">Login</h3>
        </div>
        <div class="panel-body">

          <form  action="/accounts/login/" method="post">
            {% csrf_token %}
            {% bootstrap_form form%}

            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Login">
            </div>

            <input type="hidden" name="next" value="{% url 'profile' %}">

          </form>

          <div action="/accounts/register/">
            <p>Don't have an account? Then</p>
            <p><a href="/accounts/register/">Sign up here</a></p>
          </div>

        </div>

      </div>

    </div>
    <!-- empty div -->
    <div class="col-md-4"></div>
  </div>
</div>
</div>


<style>
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  background-color: #efefef;
}
.eyes {
  animation: moveEyes 3s forwards infinite;
}

@keyframes moveEyes {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translate(2px, -5px);
  }
  40% {
    transform: translate(3px, -5px);
  }
  60% {
    transform: translate(6px, 0px);
  }
  80% {
    transform: translate(3px, 5px);
  }
  100% {
    transform: none;
  }
}

.loader {
  background-color: #1D1F20;
  padding: 10px;
  border-radius: 50%;

  &__title {
    margin-top: 25px;
    font-family: Helvetica, Arial;
    letter-spacing: 1px;
    color: #1D1F20;
  }
}
</style>
<div class="loader">
  <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64"><path fill="#DDE8E3" d="M2 31.428C2 40.23 5.738 53 17.001 53 28.262 53 32 40.23 32 31.428c0-27.237-30-27.237-30 0zM32 31.428C32 40.23 35.738 53 47.002 53 58.264 53 62 40.23 62 31.428c0-27.237-30-27.237-30 0z"/><path fill="#FFF" d="M2.798 32.088c0 7.561 2.381 19.346 11.968 19.346 9.586 0 11.966-11.785 11.966-19.346.001-26.03-23.934-26.03-23.934 0zM32.799 32.088c0 7.561 2.38 19.346 11.968 19.346 9.586 0 11.967-11.785 11.967-19.346 0-26.03-23.935-26.03-23.935 0z"/><path class="eyes" fill="#493B30" d="M2.798 32.246c0 6.211 4.352 10.965 9.726 10.965 5.372 0 9.724-4.754 9.724-10.965 0-15.276-19.45-15.276-19.45 0zM32.799 32.246c0 6.211 4.353 10.965 9.726 10.965 5.371 0 9.723-4.754 9.723-10.965 0-15.276-19.449-15.276-19.449 0z"/></svg>
</div>


{% endblock %}
